<a href="https://colab.research.google.com/github/ChaelinL/DataAnalysis_Study/blob/main/%EC%9D%B4%EC%B1%84%EB%A6%B007_0521_%EA%B3%BC%EC%A0%9C1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터분석 기초반 8주차 과제1
- 시계열 데이터 문법을 리서치 하여 정리하고 코드와 함께 주석처리 해주세요
- 최소 5개 이상

In [1]:
import pandas as pd

# crime 데이터 불러오기
from google.colab import drive
drive.mount('/content/drive')

crime = pd.read_csv('/content/drive/My Drive/crime.csv')
crime

Mounted at /content/drive

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,REPORTED_DATE,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
0,0,traffic-accident-dui-duid,traffic-accident,2014-06-29 02:01:00,-105.000149,39.745753,cbd,0,1
1,1,vehicular-eluding-no-chase,all-other-crimes,2014-06-29 01:54:00,-104.884660,39.738702,east-colfax,1,0
2,2,disturbing-the-peace,public-disorder,2014-06-29 02:00:00,-105.020719,39.706674,athmar-park,1,0
3,3,curfew,public-disorder,2014-06-29 02:18:00,-105.001552,39.769505,sunnyside,1,0
4,4,aggravated-assault,aggravated-assault,2014-06-29 04:17:00,-105.018557,39.679229,college-view-south-platte,1,0
...,...,...,...,...,...,...,...,...,...
460906,460906,burglary-business-by-force,burglary,2017-09-13 05:48:00,-105.033840,39.762365,west-highland,1,0
460907,460907,weapon-unlawful-discharge-of,all-other-crimes,2017-09-12 20:37:00,-105.040313,39.721264,barnum-west,1,0
460908,460908,traf-habitual-offender,all-other-crimes,2017-09-12 16:32:00,-104.847024,39.779596,montbello,1,0
460909,460909,criminal-mischief-other,public-disorder,2017-09-12 13:04:00,-104.949183,39.756353,skyland,1,0
460910,460910,theft-other,larceny,2017-09-12 09:30:00,-104.985739,39.735045,capitol-hill,1,0

In [2]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460911 entries, 0 to 460910
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Unnamed: 0           460911 non-null  int64
 1   OFFENSE_TYPE_ID      460911 non-null  object
 2   OFFENSE_CATEGORY_ID  460911 non-null  object
 3   REPORTED_DATE        460911 non-null  object
 4   GEO_LON              457296 non-null  float64
 5   GEO_LAT              457296 non-null  float64
 6   NEIGHBORHOOD_ID      460911 non-null  object
 7   IS_CRIME             460911 non-null  int64
 8   IS_TRAFFIC           460911 non-null  int64
dtypes: float64(2), int64(3), object(4)
memory usage: 31.6+ MB

In [3]:
# 시계열 데이터로 변경
crime['REPORTED_DATE'] = pd.to_datetime(crime['REPORTED_DATE'])
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460911 entries, 0 to 460910
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Unnamed: 0           460911 non-null  int64
 1   OFFENSE_TYPE_ID      460911 non-null  object
 2   OFFENSE_CATEGORY_ID  460911 non-null  object
 3   REPORTED_DATE        460911 non-null  datetime64[ns]
 4   GEO_LON              457296 non-null  float64
 5   GEO_LAT              457296 non-null  float64
 6   NEIGHBORHOOD_ID      460911 non-null  object
 7   IS_CRIME             460911 non-null  int64
 8   IS_TRAFFIC           460911 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(3)
memory usage: 31.6+ MB

In [4]:
crime_dt = crime.set_index('REPORTED_DATE')  # 시계열 컬럼을 인덱스로 지정
crime_dt = crime_dt.sort_index()

**1. resample 함수**
- 시계열 데이터를 다른 주기로 리샘플링
- 연, 월, 주, 일 선택 가능

In [8]:
crime_dt .resample('1W').sum()  # 1주일 단위로 데이터를 리샘플링하고, 각 주에 해당하는 값을 합산한다

<ipython-input-8-40fb42d7a080>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  crime_dt .resample('1W').sum()  # 1주일 단위로 데이터를 리샘플링하고, 각 주에 해당하는 값을 합산한다

               Unnamed: 0        GEO_LON       GEO_LAT  IS_CRIME  IS_TRAFFIC
REPORTED_DATE
2012-01-08      191652101  -91635.139692  34682.570497       551         326
2012-01-15      220195742 -111684.754272  42268.923393       600         471
2012-01-22      215659722 -103388.422802  39134.553291       654         337
2012-01-29      219257103 -103291.149015  39088.087322       655         333
2012-02-05      209562852  -92791.249567  35118.419732       536         352
...                   ...            ...           ...       ...         ...
2017-09-03      889059115 -203945.315495  77199.264287      1458         501
2017-09-10      787066469 -180435.254668  68302.010126      1309         425
2017-09-17      900405971 -205722.532391  77882.287423      1474         503
2017-09-24      841231941 -191451.945029  72475.194889      1332         508
2017-10-01      480972209 -110628.844977  41877.289235       753         307

[300 rows x 5 columns]

**2. first 함수**
- 시계열 데이터의 첫 번째 항목을 선택하는데 사용
- first를 사용하여 원하는 시작 시간을 지정할 수 있다.
- 연, 월, 주, 일 선택 가능

In [ ]:
crime_dt.first('5D')  # crime_dt 데이터셋의 항목을 앞에서부터 5일 단위로 불러온다.

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2012-01-02 00:06:00,414815,aggravated-assault,aggravated-assault,-104.816860,39.796717,montbello,1,0
2012-01-02 00:06:00,47176,violation-of-restraining-order,all-other-crimes,-104.816860,39.796717,montbello,1,0
2012-01-02 00:16:00,75798,traffic-accident-dui-duid,traffic-accident,-104.971851,39.736874,cheesman-park,0,1
2012-01-02 00:47:00,46063,traffic-accident,traffic-accident,-104.951824,39.740168,congress-park,0,1
2012-01-02 01:35:00,435334,aggravated-assault,aggravated-assault,-104.998131,39.749922,union-station,1,0
...,...,...,...,...,...,...,...,...
2012-01-06 23:11:00,44614,theft-items-from-vehicle,theft-from-motor-vehicle,-104.999752,39.726081,lincoln-park,1,0
2012-01-06 23:23:00,71968,violation-of-restraining-order,all-other-crimes,-104.969588,39.681135,university,1,0
2012-01-06 23:30:00,425408,assault-dv,other-crimes-against-persons,-104.958983,39.674135,university-park,1,0
2012-01-06 23:44:00,36352,theft-of-motor-vehicle,auto-theft,-104.845356,39.794035,montbello,1,0
2012-01-06 23:55:00,367849,threats-to-injure,public-disorder,-105.004788,39.708714,athmar-park,1,0

**3. last 함수**
- 시계열 데이터의 마지막 항목을 선택하는데 사용
- 연, 월, 주, 일 선택 가능

In [ ]:
crime_dt.last('1W')  # crime_dt 데이터셋의 항목을 뒤에서부터 일주일 단위로 불러온다.

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2017-09-24 06:36:00,459000,traf-habitual-offender,all-other-crimes,-105.018032,39.682310,college-view-south-platte,1,0
2017-09-24 06:36:00,460436,traf-other,all-other-crimes,-105.018032,39.682310,college-view-south-platte,1,0
2017-09-24 06:37:00,457331,theft-parts-from-vehicle,theft-from-motor-vehicle,-104.903729,39.768655,northeast-park-hill,1,0
2017-09-24 06:38:00,460250,traffic-accident,traffic-accident,-104.918259,39.653079,hampden-south,0,1
2017-09-24 07:05:00,458655,criminal-trespassing,all-other-crimes,-104.987018,39.731361,capitol-hill,1,0
...,...,...,...,...,...,...,...,...
2017-09-29 03:58:00,454315,traf-other,all-other-crimes,-104.994817,39.768043,globeville,1,0
2017-09-29 03:58:00,454304,burglary-business-by-force,burglary,-104.987803,39.681199,overland,1,0
2017-09-29 04:12:00,454656,traf-other,all-other-crimes,-105.006426,39.783139,sunnyside,1,0
2017-09-29 04:12:00,455301,drug-pcs-other-drug,drug-alcohol,-105.048416,39.726209,villa-park,1,0
2017-09-29 06:16:00,453457,theft-of-motor-vehicle,auto-theft,-104.890269,39.657222,hampden,1,0

**4. shift 함수**
- 시계열 데이터를 주어진 오프셋만큼 이동

In [ ]:
crime_dt

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2012-01-02 00:06:00,414815,aggravated-assault,aggravated-assault,-104.816860,39.796717,montbello,1,0
2012-01-02 00:06:00,47176,violation-of-restraining-order,all-other-crimes,-104.816860,39.796717,montbello,1,0
2012-01-02 00:16:00,75798,traffic-accident-dui-duid,traffic-accident,-104.971851,39.736874,cheesman-park,0,1
2012-01-02 00:47:00,46063,traffic-accident,traffic-accident,-104.951824,39.740168,congress-park,0,1
2012-01-02 01:35:00,435334,aggravated-assault,aggravated-assault,-104.998131,39.749922,union-station,1,0
...,...,...,...,...,...,...,...,...
2017-09-29 03:58:00,454315,traf-other,all-other-crimes,-104.994817,39.768043,globeville,1,0
2017-09-29 03:58:00,454304,burglary-business-by-force,burglary,-104.987803,39.681199,overland,1,0
2017-09-29 04:12:00,454656,traf-other,all-other-crimes,-105.006426,39.783139,sunnyside,1,0
2017-09-29 04:12:00,455301,drug-pcs-other-drug,drug-alcohol,-105.048416,39.726209,villa-park,1,0
2017-09-29 06:16:00,453457,theft-of-motor-vehicle,auto-theft,-104.890269,39.657222,hampden,1,0

In [ ]:
crime_dt.shift(2, freq='H')  # crime_dt의 시계열 데이터를 2시간 단위로 이동시킨다.

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2012-01-02 02:06:00,414815,aggravated-assault,aggravated-assault,-104.816860,39.796717,montbello,1,0
2012-01-02 02:06:00,47176,violation-of-restraining-order,all-other-crimes,-104.816860,39.796717,montbello,1,0
2012-01-02 02:16:00,75798,traffic-accident-dui-duid,traffic-accident,-104.971851,39.736874,cheesman-park,0,1
2012-01-02 02:47:00,46063,traffic-accident,traffic-accident,-104.951824,39.740168,congress-park,0,1
2012-01-02 03:35:00,435334,aggravated-assault,aggravated-assault,-104.998131,39.749922,union-station,1,0
...,...,...,...,...,...,...,...,...
2017-09-29 05:58:00,454315,traf-other,all-other-crimes,-104.994817,39.768043,globeville,1,0
2017-09-29 05:58:00,454304,burglary-business-by-force,burglary,-104.987803,39.681199,overland,1,0
2017-09-29 06:12:00,454656,traf-other,all-other-crimes,-105.006426,39.783139,sunnyside,1,0
2017-09-29 06:12:00,455301,drug-pcs-other-drug,drug-alcohol,-105.048416,39.726209,villa-park,1,0
2017-09-29 08:16:00,453457,theft-of-motor-vehicle,auto-theft,-104.890269,39.657222,hampden,1,0

In [ ]:
crime_dt.shift(-1, freq='D')  # crime_dt의 시계열 데이터를 1일 전씩으로 이동시킨다.

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2012-01-01 00:06:00,414815,aggravated-assault,aggravated-assault,-104.816860,39.796717,montbello,1,0
2012-01-01 00:06:00,47176,violation-of-restraining-order,all-other-crimes,-104.816860,39.796717,montbello,1,0
2012-01-01 00:16:00,75798,traffic-accident-dui-duid,traffic-accident,-104.971851,39.736874,cheesman-park,0,1
2012-01-01 00:47:00,46063,traffic-accident,traffic-accident,-104.951824,39.740168,congress-park,0,1
2012-01-01 01:35:00,435334,aggravated-assault,aggravated-assault,-104.998131,39.749922,union-station,1,0
...,...,...,...,...,...,...,...,...
2017-09-28 03:58:00,454315,traf-other,all-other-crimes,-104.994817,39.768043,globeville,1,0
2017-09-28 03:58:00,454304,burglary-business-by-force,burglary,-104.987803,39.681199,overland,1,0
2017-09-28 04:12:00,454656,traf-other,all-other-crimes,-105.006426,39.783139,sunnyside,1,0
2017-09-28 04:12:00,455301,drug-pcs-other-drug,drug-alcohol,-105.048416,39.726209,villa-park,1,0
2017-09-28 06:16:00,453457,theft-of-motor-vehicle,auto-theft,-104.890269,39.657222,hampden,1,0

In [ ]:
crime_dt.shift(1)  # freq 지정 안 할시 데이터 항목의 이동 단위를 의미 (1로 지정하면 한 칸 씩 밀린다.)

,Unnamed: 0,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,,
2012-01-02 00:06:00,NaN,None,None,NaN,NaN,None,NaN,NaN
2012-01-02 00:06:00,414815.0,aggravated-assault,aggravated-assault,-104.816860,39.796717,montbello,1.0,0.0
2012-01-02 00:16:00,47176.0,violation-of-restraining-order,all-other-crimes,-104.816860,39.796717,montbello,1.0,0.0
2012-01-02 00:47:00,75798.0,traffic-accident-dui-duid,traffic-accident,-104.971851,39.736874,cheesman-park,0.0,1.0
2012-01-02 01:35:00,46063.0,traffic-accident,traffic-accident,-104.951824,39.740168,congress-park,0.0,1.0
...,...,...,...,...,...,...,...,...
2017-09-29 03:58:00,455008.0,burglary-business-no-force,burglary,-104.987489,39.674562,rosedale,1.0,0.0
2017-09-29 03:58:00,454315.0,traf-other,all-other-crimes,-104.994817,39.768043,globeville,1.0,0.0
2017-09-29 04:12:00,454304.0,burglary-business-by-force,burglary,-104.987803,39.681199,overland,1.0,0.0
2017-09-29 04:12:00,454656.0,traf-other,all-other-crimes,-105.006426,39.783139,sunnyside,1.0,0.0
2017-09-29 06:16:00,455301.0,drug-pcs-other-drug,drug-alcohol,-105.048416,39.726209,villa-park,1.0,0.0

**5. diff 함수**
- 시계열 데이터의 차분 계산
- 정상성을 띄지 않는 데이터는 차분(differencing)을 통해 시계열 데이터를 변환함으로써 정상성의 특성을 지닌 데이터로 만들어 줘야 AR, MA, ARIMA 등의 전통적인 시계열 분석 방법을 사용할 수 있다.
- 차분을 구한 시계열은 원래 시계열에서 연이은 관측값의 차이이다.

In [ ]:
crime['REPORTED_DATE'].diff()  # 시계열 데이터에 해당하는 열을 차분한다

0                      NaT
1        -1 days +23:53:00
2          0 days 00:06:00
3          0 days 00:18:00
4          0 days 01:59:00
                ...
460906     0 days 15:48:00
460907   -1 days +14:49:00
460908   -1 days +19:55:00
460909   -1 days +20:32:00
460910   -1 days +20:26:00
Name: REPORTED_DATE, Length: 460911, dtype: timedelta64[ns]

**6. rolling 함수**
- 이동 평균이나 이동 합과 같은 이동 통계량을 계산

In [11]:
crime_dt.rolling(window=3).mean()  # crime_dt의 시계열 데이터를 3일 동안의 이동 평균으로 계산

<ipython-input-11-371f7490c7cc>:1: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['NEIGHBORHOOD_ID', 'OFFENSE_CATEGORY_ID', 'OFFENSE_TYPE_ID'], dtype='object')
  crime_dt.rolling(window=3).mean()  # crime_dt의 시계열 데이터를 3일 동안의 이동 평균으로 계산

,Unnamed: 0,GEO_LON,GEO_LAT,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,
2012-01-02 00:06:00,NaN,NaN,NaN,NaN,NaN
2012-01-02 00:06:00,NaN,NaN,NaN,NaN,NaN
2012-01-02 00:16:00,179263.000000,-104.868523,39.776770,0.666667,0.333333
2012-01-02 00:47:00,56345.666667,-104.913511,39.757920,0.333333,0.666667
2012-01-02 01:35:00,185731.666667,-104.973935,39.742322,0.333333,0.666667
...,...,...,...,...,...
2017-09-29 03:58:00,454112.333333,-104.992289,39.725957,0.666667,0.333333
2017-09-29 03:58:00,454542.333333,-104.990037,39.707935,1.000000,0.000000
2017-09-29 04:12:00,454425.000000,-104.996349,39.744127,1.000000,0.000000
2017-09-29 04:12:00,454753.666667,-105.014215,39.730183,1.000000,0.000000
2017-09-29 06:16:00,454471.333333,-104.981703,39.722190,1.000000,0.000000