<a href="https://colab.research.google.com/github/ChaelinL/DataAnalysis_Study/blob/main/%EC%9D%B4%EC%B1%84%EB%A6%B007_0514_%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터분석 기초반 7주차 수업
- 데이터 병합 merge, concat

In [1]:
import pandas as pd

**concat 함수**
- df+ df끼리 합치는 경우
- 두 테이블이 행과 열 기준으로 붙여진다.
- ignore_index: 병합 후 인덱스 새롭게 만들 지 선택 (True일시 0부터 다시 시작)
- axis: 축 설정 (axis=0이 디폴트, axis=1는 cbind 형식)
- 컬럼이 동일한 경우 쉽게 붙일 수 있다.
- 단, 시계열 데이터는 다를 수 있으니 유의하기!

In [6]:
df1 = pd.DataFrame({'A':[1,2,3,4], 'B':[1,2,3,4]})
df2 = pd.DataFrame({'A':[3,4], 'B':[4,5]})
df3 = pd.DataFrame({'A':[5,6], 'C':[3,2]})

display(df1)
display(df2)
display(df3)

   A  B
0  1  1
1  2  2
2  3  3
3  4  4

   A  B
0  3  4
1  4  5

   A  C
0  5  3
1  6  2

In [12]:
pd.concat([df1, df2, df3], ignore_index=True) # axis=0이 디폴트값

   A    B    C
0  1  1.0  NaN
1  2  2.0  NaN
2  3  3.0  NaN
3  4  4.0  NaN
4  3  4.0  NaN
5  4  5.0  NaN
6  5  NaN  3.0
7  6  NaN  2.0

In [14]:
pd.concat([df1, df2, df3], axis=1) # cbind 형식으로 병합

   A  B    A    B    A    C
0  1  1  3.0  4.0  5.0  3.0
1  2  2  4.0  5.0  6.0  2.0
2  3  3  NaN  NaN  NaN  NaN
3  4  4  NaN  NaN  NaN  NaN

**merge 함수**
- 두 개의 데이터프레임을 join하는 함수
- 공통된 열을 기준으로 데이터프레임을 병합하는 것이 가능하다.
- 공통된 열(컬럼)이 join key!
- 함수 주요 인자:
- left: 병합할 첫 번째 데이터프레임으로, 왼쪽
- right: 별합할 두 번째 데이터프레임으로, 오른쪽
- on: 조인 키로 사용할 열 목록으로, 두 데이터프레임 모두 포함되어야 한다.
- left_on: 왼쪽 데이터프레임에서 조인키로 사용할 열 목록
- right_on: 오른쪽 데이터프레임에서 조인키로 사용할 열 목록
- left_index: 왼쪽 데이터프레임의 조인키로 인덱스를 사용할 지
- right_index: 오른쪽 데이터프레임의 조인키로 인덱스를 사용할 지
- how: 조인의 방법을 결정하며, 디폴트는 'inner'

In [16]:
df1 = pd.DataFrame({'이름':['이채린','임하나','김민서','윤다은'],
                    '영어':[100,50,60,70]})
df2 = pd.DataFrame({'이름':['이채린','임하나','김민서'],
                    '수학':[50,100,60]})

display(df1)
display(df2)

    이름   영어
0  이채린  100
1  임하나   50
2  김민서   60
3  윤다은   70

    이름   수학
0  이채린   50
1  임하나  100
2  김민서   60

In [17]:
pd.merge(df1, df2) # 디폴트값은 inner 교집합

    이름   영어   수학
0  이채린  100   50
1  임하나   50  100
2  김민서   60   60

In [18]:
pd.merge(df1, df2, on='이름')  # '이름'열을 기준으로 병합

    이름   영어   수학
0  이채린  100   50
1  임하나   50  100
2  김민서   60   60

In [21]:
df3 = pd.DataFrame({'이름':['이채린','임하나','김민서','윤다은'],
                    '수학':[50,100,60,70],
                    '생년월일':['00','01','02','03']})
df4 = pd.DataFrame({'이름':['이채린','임하나','김민서'],
                    '수학':[50,100,60],
                    '지각횟수':[0,1,2]})

display(df3)
display(df4)

    이름   수학 생년월일
0  이채린   50   00
1  임하나  100   01
2  김민서   60   02
3  윤다은   70   03

    이름   수학  지각횟수
0  이채린   50     0
1  임하나  100     1
2  김민서   60     2

In [22]:
pd.merge(df3, df4, on=['이름','수학'])  # on을 사용할 때 2개 이상 컬럼도 사용 가능

    이름   수학 생년월일  지각횟수
0  이채린   50   00     0
1  임하나  100   01     1
2  김민서   60   02     2

In [23]:
pd.merge(df3, df4, on='이름')  # on='수학'하지 않으면 두 개로 나뉘어 나온다.

    이름  수학_x 생년월일  수학_y  지각횟수
0  이채린    50   00    50     0
1  임하나   100   01   100     1
2  김민서    60   02    60     2

In [24]:
# left_on, right_on

df5 = pd.DataFrame({'이름':['이채린','임하나','김민서','윤다은'],
                    '수학':[50,100,60,70],
                    '생년월일':['00','01','02','03']})
df6 = pd.DataFrame({'name':['이채린','임하나','김민서'],
                    '수학':[50,100,60],
                    '지각횟수':[0,1,2]})

display(df5)
display(df6)

    이름   수학 생년월일
0  이채린   50   00
1  임하나  100   01
2  김민서   60   02
3  윤다은   70   03

  name   수학  지각횟수
0  이채린   50     0
1  임하나  100     1
2  김민서   60     2

In [29]:
pd.merge(df5, df6, left_on='이름', right_on='name')  # left_on과 right_on은 같이 사용되어야 함! (or left_index나 right_index도 가능)

    이름  수학_x 생년월일 name  수학_y  지각횟수
0  이채린    50   00  이채린    50     0
1  임하나   100   01  임하나   100     1
2  김민서    60   02  김민서    60     2

In [30]:
pd.merge(df5, df6, left_on=['이름','수학'], right_on=['name','수학'])  # left_on과 right_on의 길이도 같아야 함!

    이름   수학 생년월일 name  지각횟수
0  이채린   50   00  이채린     0
1  임하나  100   01  임하나     1
2  김민서   60   02  김민서     2

In [38]:
# left_index, right_index

df5_sp = df5.set_index('이름')
display(df5_sp)
display(df6)

      수학 생년월일
이름
이채린   50   00
임하나  100   01
김민서   60   02
윤다은   70   03

  name   수학  지각횟수
0  이채린   50     0
1  임하나  100     1
2  김민서   60     2

In [40]:
pd.merge(df5_sp, df6, left_index=True, right_on='name')

   수학_x 생년월일 name  수학_y  지각횟수
0    50   00  이채린    50     0
1   100   01  임하나   100     1
2    60   02  김민서    60     2

**how**
- 조인키에 대한 기본값 = inner
- left: 왼쪽 데이터프레임 조인키를 기준으로 병합
- right: 오른쪽 데이터프레임 조인키를 기준으로 병합
- outer: 왼쪽과 오른쪽 데이터프레임 조인키에 대한 합집한 기준으로 병합

In [41]:
df1 = pd.DataFrame({'A':[1,2,3], 'B':[1,2,3]})
df2 = pd.DataFrame({'A':[2,3,4], 'C':[7,8,9]})

display(df1)
display(df2)

   A  B
0  1  1
1  2  2
2  3  3

   A  C
0  2  7
1  3  8
2  4  9

In [42]:
pd.merge(df1, df2, on='A', how='inner')

   A  B  C
0  2  2  7
1  3  3  8

In [43]:
pd.merge(df1, df2, on='A', how='right')

   A    B  C
0  2  2.0  7
1  3  3.0  8
2  4  NaN  9

In [44]:
pd.merge(df1, df2, on='A', how='left')

   A  B    C
0  1  1  NaN
1  2  2  7.0
2  3  3  8.0

In [45]:
pd.merge(df1, df2, on='A', how='outer')

   A    B    C
0  1  1.0  NaN
1  2  2.0  7.0
2  3  3.0  8.0
3  4  NaN  9.0

**실제 데이터를 가지고 해보자!**

In [46]:
# 데이터 불러오기
from google.colab import drive
drive.mount('/content/drive')

site = pd.read_csv('/content/drive/My Drive/survey_site.csv')
survey = pd.read_csv('/content/drive/My Drive/survey_survey.csv')
vit = pd.read_csv('/content/drive/My Drive/survey_visited.csv')

Mounted at /content/drive

In [47]:
display(site)
display(vit)

    name    lat    long
0   DR-1 -49.85 -128.57
1   DR-3 -47.15 -126.72
2  MSK-4 -48.87 -123.40

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [48]:
site_vit = pd.merge(site, vit, left_on='name', right_on='site')
site_vit

    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-1 -49.85 -128.57    622   DR-1  1927-02-10
2   DR-1 -49.85 -128.57    844   DR-1  1932-03-22
3   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
4   DR-3 -47.15 -126.72    735   DR-3  1930-01-12
5   DR-3 -47.15 -126.72    751   DR-3  1930-02-26
6   DR-3 -47.15 -126.72    752   DR-3         NaN
7  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14

In [50]:
display(survey)

    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735    NaN   sal     0.06
9     735    NaN  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25

In [51]:
pd.merge(survey, site_vit, left_on='taken', right_on='ident')

,taken,person,quant,reading,name,lat,long,ident,site,dated
0,619,dyer,rad,9.82,DR-1,-49.85,-128.57,619,DR-1,1927-02-08
1,619,dyer,sal,0.13,DR-1,-49.85,-128.57,619,DR-1,1927-02-08
2,622,dyer,rad,7.80,DR-1,-49.85,-128.57,622,DR-1,1927-02-10
3,622,dyer,sal,0.09,DR-1,-49.85,-128.57,622,DR-1,1927-02-10
4,734,pb,rad,8.41,DR-3,-47.15,-126.72,734,DR-3,1939-01-07
5,734,lake,sal,0.05,DR-3,-47.15,-126.72,734,DR-3,1939-01-07
6,734,pb,temp,-21.50,DR-3,-47.15,-126.72,734,DR-3,1939-01-07
7,735,pb,rad,7.22,DR-3,-47.15,-126.72,735,DR-3,1930-01-12
8,735,NaN,sal,0.06,DR-3,-47.15,-126.72,735,DR-3,1930-01-12
9,735,NaN,temp,-26.00,DR-3,-47.15,-126.72,735,DR-3,1930-01-12
10,751,pb,rad,4.35,DR-3,-47.15,-126.72,751,DR-3,1930-02-26
11,751,pb,temp,-18.50,DR-3,-47.15,-126.72,751,DR-3,1930-02-26
12,751,lake,sal,0.10,DR-3,-47.15,-126.72,751,DR-3,1930-02-26
13,752,lake,rad,2.19,DR-3,-47.15,-126.72,752,DR-3,NaN
14,752,lake,sal,0.09,DR-3,-47.15,-126.72,752,DR-3,NaN
15,752,lake,temp,-16.00,DR-3,-47.15,-126.72,752,DR-3,NaN
16,752,roe,sal,41.60,DR-3,-47.15,-126.72,752,DR-3,NaN
17,837,lake,rad,1.46,MSK-4,-48.87,-123.40,837,MSK-4,1932-01-14
18,837,lake,sal,0.21,MSK-4,-48.87,-123.40,837,MSK-4,1932-01-14
19,837,roe,sal,22.50,MSK-4,-48.87,-123.40,837,MSK-4,1932-01-14
20,844,roe,rad,11.25,DR-1,-49.85,-128.57,844,DR-1,1932-03-22